/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #031526;
    --background: #ecf6fe;
    --primary: #c23405;
    --secondary: #c70549;
    --accent: #c20fa4;
  }
  .dark {
    --text: #d7eafc;
    --background: #010b12;
    --primary: #fa6d3d;
    --primary-v1: #e65c2b;
    --primary-v2: #cc4b1a;
    --primary-v3: #b33a09;
    --primary-v4: #532414;
    --primary-v5: #32160c;

    --secondary: #fa397b;
    --accent: #e68ed7;
    --accent-v1: #c832ae;
    --accent-v2: #b7289b;
    --accent-v3: #9e2088;
  }

  body {
    font-family: 'Poppins';
    font-weight: 400;
    height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Poppins';
    font-weight: 700;
  }

  html {
    font-size: 100%;
  } /* 16px */

  h1 {
    font-size: 4.21rem; /* 67.36px */
  }

  h2 {
    font-size: 3.158rem; /* 50.56px */
  }

  h3 {
    font-size: 2.369rem; /* 37.92px */
  }

  h4 {
    font-size: 1.777rem; /* 28.48px */
  }

  h5 {
    font-size: 1.333rem; /* 21.28px */
  }

  small {
    font-size: 0.75rem; /* 12px */
  }
}
